<a href="#" 
 class="list-group-item clearfix"
 [routerLink]="[index]"
 routerLinkActive="active">
 <!-- [routerLink]="['/recipes', this.currRecipe.name]"  -->
 <!-- (click)="onSelected()" -->
    <div class="pull-left">
        <h4 class="list-group-item-heading">                    
            {{ this.currRecipe.name }}
        </h4>
        <p class="list-group-item-text">
            {{ this.currRecipe.description }}
        </p>
        <span class="pull-right">
            <img                     
            [src]="this.currRecipe.imagePath"
            alt="{{ this.currRecipe.name }}" class="img-responsive" style="max-height: 50px;" />
        </span>
    </div>
</a>